* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
}

.body-content {
    /* max-width: 1140px; */
    margin: 0 auto;
    padding: 20px;
}

/* Navigation Bar */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-bar li a {
    font-size: 18px;
    color: #E5E7EB;
}

.nav-bar li a:hover {
    color: lightsalmon;
}

/* Hero Section */

.hero-container {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    
}

.hero-text-image {
    display: flex;
    flex: 1;
    height: 300px;
    gap: 40px;
}

.hero-text {
    flex: 1;
    max-width: 50%;
}

.hero-image {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #6B7280;
    height: 250px;
    max-width: 50%;
    color: #FFFFFF;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-text button {
    padding: 10px 20px;
    background-color: #3B82F6;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-text button:hover {
    background-color: #2159d3;
}

/* Information Section */

.information-section {
    background-color: #FFFFFF; /* White background */
    padding: 40px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.information-section h2 {
    margin-bottom: 30px;
}

.information-row {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

.image-subtext {
    display: flex;
    flex-direction: column;
}

.image-subtext div {
    height: 150px;
    width: 150px;
    border: 3px solid #3B82F6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image-subtext p {
    text-align: left;
    font-size: 18px;
    color: #98999b;
    margin-bottom: 20px;
}

/* Quote Section */

.quote-section {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

.quote-box {
    padding: 50px 100px;
}

.quote {
    font-size: 36px;
    font-weight: 350;
    font-style: italic;
    color: #1F2937;
}

.citation {
    font-size: 20px;
    text-align: right;
}

/* Call To Action Section */

.cta-section {
    height: 340px;
    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3B82F6;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 50px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;

}

.cta-text {
    width: 500px;
}

.cta-text h3 {
    padding-bottom: 6px;
}

.cta-button {
    padding: 10px 40px;
    background-color: #3B82F6;
    color: #FFFFFF;
    font-size: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2159d3;
}

/* Footer Section */

.footer-section {
    height: 100px;
    color: rgb(196, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
}
